
// Colors

$primary-bkColor: #1d2127;
$ligth_grey: #464b55;
$dark_grey: #282c34;
$white: #fff;
$pastel_green: #98c379;
$pastel_blue: #61afef;
$shadow_color: #888; 
$red_color: #c63637;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Fonts

$font: "Overpass Mono", monospace;

